* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: rgb(55, 55, 55);
}

hr {
  opacity: 50%;
}

span {
  margin-left: -4px;
}

a {
  font-size: 0.75em;
}

.head {
  display: block;
  position: static;
  margin-top: 20px;
  margin-bottom: 2px;
}
.head span {
  display: block;
  position: static;
  width: auto;
  margin-top: 6px;
  height: 90px;
}

header {
  display: flex;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  float: left;
  vertical-align: middle;
  justify-content: space-between;
}

.head-start {
  display: inline-flex;
  align-items: center;
  float: left;
}

.head__end {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding-right: 30px;
}

#mw-searchButton {
  margin-right: 16px;
  font-family: "Pretendard";
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.vector-search-box-input {
  font-family: "Pretendard";
  padding: 4px;
  padding-left: 8px;
  padding-right: 24px;
}

.hamberger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 14px;
  margin-left: 30px;
  display: inline-flex;
  float: left;
}

.logo {
  position: relative;
  display: inline-flex;
  float: left;
}

.logo__image {
  position: relative;
  float: left;
  padding-left: 6px;
  padding-right: 14px;
  display: inline;
}

.logo__text {
  position: relative;
  float: left;
  padding: 6px;
}

#simpleSearch {
  display: inline-block;
  position: static;
  padding-right: 6px;
}

a {
  font-family: "Pretendard";
  font-size: 16px;
  padding-left: 4px;
  padding-right: 2px;
  margin: 2px;
  display: inline;
  position: relative;
  color: rgb(0, 106, 255);
}

.dot {
  display: inline-flex;
  padding-left: 10px;
  margin-right: 50px;
}

.side__bar {
  float: left;
  width: 200px;
  height: 300px;
  padding: 8px;
  margin: 20px;
  margin-left: 60px;
  margin-top: 34px;
  display: inline-block;
  position: static;
  border: 1px solid rgb(198, 197, 197);
  vertical-align: baseline;
}
.side__bar p {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 14px;
  font-weight: 700;
  float: right;
  padding-top: 4px;
  padding-right: 6px;
}

#index {
  display: inline-block;
  position: static;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 18px;
  padding: 4px;
  padding-bottom: 4px;
  margin-left: 4px;
}

.account {
  margin-right: 12px;
}

.index__under {
  display: block;
  position: unset;
  font-size: 14px;
  padding: 4px;
}
.index__under a {
  padding: 2px;
  position: static;
  display: block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.index__under a:link {
  color: rgb(0, 106, 255);
}
.index__under a:visited {
  color: rgb(0, 106, 255);
}
.index__under a:hover {
  color: rgb(0, 84, 201);
}
.index__under a:active {
  color: rgb(0, 106, 255);
}

.contents {
  font-family: "Pretendard";
  font-size: 16px;
  display: inline-block;
  position: relative;
  padding: 6px;
  width: 79vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: top;
  margin-top: 20px;
  margin-right: 60px;
}

.menu {
  font-family: "Pretendard";
  font-size: 16px;
  padding: 10px;
}
.menu span {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 106, 255);
}

.contents__title {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 30px;
  padding-top: 4px;
  padding-left: 12px;
  padding-bottom: 8px;
}
.contents__title p {
  font-family: "Pretendard";
  font-size: 16px;
  float: right;
  font-weight: 700;
  padding-top: 4px;
  padding-right: 6px;
}

.contents__text {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 16px;
  padding: 6px;
  padding-bottom: 12px;
  margin: 10px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.contents__text p {
  font-family: "Pretendard";
  font-size: 14px;
}
.contents__text span {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 106, 255);
}

sup {
  font-family: "Pretendard";
  color: rgb(0, 106, 255);
}

.outLink {
  display: block;
  margin-left: 284px;
  margin-right: 65px;
}
.outLink li {
  padding: 4px;
}

.outLink__link {
  padding-top: 2px;
}

.history {
  padding: 4px;
}

.v {
  padding-right: 16px;
  padding-bottom: 4px;
  float: right;
}

li {
  font-family: "Pretendard";
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
  margin-left: -10px;
}
li p {
  font-family: "Pretendard";
  font-size: 15px;
}
li a {
  font-weight: 400;
}

.g__text {
  font-family: "Pretendard";
  font-size: 15px;
  line-height: 24px;
  padding-top: 2px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.blockquote {
  background: #eee;
  border: 2px dashed #ccc;
  border-left: 5px solid #007bff;
  display: table;
  padding: 6px;
  margin-top: 16px;
  margin-left: 16px;
}

.blockquote1 {
  font-family: "Pretendard";
  margin: 6px;
}

footer {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.footer_text {
  font-family: "Pretendard";
  font-size: 0.75em;
  font-weight: 400;
  vertical-align: text-top;
  margin-left: 18px;
}

.footer_Text {
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 400;
  vertical-align: text-top;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.footer_Text a {
  font-size: 12px;
}